.column {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-content: space-between;
  justify-content: space-between;
  border-radius: 4px;
}

.columnYellow {
  background-color: #d7b377;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}
